@page "/articles-management"
@rendermode @(new InteractiveWebAssemblyRenderMode(false))
@inject HttpClient Http
@inject NavigationManager NavigationManager
@using CleanArchitecture.Application.Abstractions
@using CleanArchitecture.Application.Articles
@using CleanArchitecture.Application.Articles.UpdateArticlePublish
@using CleanArchitecture.Domain.Abstractions
@using Microsoft.AspNetCore.Authorization
@using Newtonsoft.Json
@attribute [Authorize] 

<PageTitle>Articles Management</PageTitle>
<h3>Manage Articles</h3>

<div class="d-flex flex-row flex-nowrap mb-3 gap-3" style="width: 100%">
    <input type="text" class="ca-form-control" @bind-value="@currentUserName" />
    <button class="ca-button ca-primary" style="width: 30%;" @onclick="@(() => UpdateArticles())">Search</button>
</div>

<ArticlesManagementGrid @ref="_articlesGrid"
                        ToggleArticlePublish="ToggleArticlePublish"
                        RetrieveArticles="RetrieveArticles" />

<span class="text-danger">@errors</span>

@code {
    private string? currentUserName;
    private string errors = string.Empty;

    private ArticlesManagementGrid _articlesGrid;
    private JsonSerializerSettings _jsonSerializerSettings = new JsonSerializerSettings
        {
            Converters = { new ResultJsonConverter<List<ArticleResponse>>() }
        };

    public async Task<Result<List<ArticleResponse>>> RetrieveArticles()
    {
        Result<List<ArticleResponse>>? result;

        if(string.IsNullOrWhiteSpace(currentUserName))
        {
            var response = await Http.GetAsync(GetCurrentUserArticlesEndpoint);
            result = JsonConvert.DeserializeObject<Result<List<ArticleResponse>>>(await response.Content.ReadAsStringAsync(), _jsonSerializerSettings);
            errors = result?.Message?.Body ?? string.Empty;
            return result ?? Result<List<ArticleResponse>>.Error(GeneralErrors.NullValueResult);
        }
        else
        {
            var response = await Http.GetAsync($"{GetByUserNameArticlesEndpoint}/{currentUserName}");
            result = JsonConvert.DeserializeObject<Result<List<ArticleResponse>>>(await response.Content.ReadAsStringAsync(), _jsonSerializerSettings);
            errors = result?.Message?.Body ?? string.Empty;
            return result ?? Result<List<ArticleResponse>>.Error(GeneralErrors.NullValueResult);
        }
    }

    public async Task<bool> ToggleArticlePublish(ArticleResponse article)
    {
        var result = await Http.GetAsync($"{SetArticlePublishStateEndpoint}/{article.Id}/{!article.IsPublished}");
        return result.IsSuccessStatusCode;
    }

    public async Task UpdateArticles()
    {
        if (_articlesGrid is not null)
            await _articlesGrid.UpdateArticles();
    }

    const string ArticlesApiUri = "/api/articles";
    const string GetCurrentUserArticlesEndpoint = $"{ArticlesApiUri}/by-current-user";
    const string GetByUserNameArticlesEndpoint = $"{ArticlesApiUri}/by-username";
    const string SetArticlePublishStateEndpoint = $"{ArticlesApiUri}/set-article-publish-state";
}
