@rendermode InteractiveServer

<style>
    .custom-modal {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: aliceblue;
        padding: 2rem;
        border: 1px solid black;
    }
</style>

@if(Visible)
{
    <div class="custom-modal">
        <h2>@Title</h2>
        <hr />
        @ChildContent
        <div class="d-flex flex-row flex-nowrap gap-2">
            @if(ModalSaved.HasDelegate)
            {
                <button class="btn btn-primary" @onclick="() => ModalSaved.InvokeAsync()">Save</button>
                <button class="btn btn-secondary" @onclick="CloseModal">Close</button>
            }
            else
            {
                <button class="btn btn-primary" @onclick="CloseModal">Close</button>
            }
        </div>
    </div>
}

@code {
    [Parameter] public bool Visible { get; set; }

    [Parameter] public EventCallback<bool> VisibleChanged { get; set; }

    [Parameter, EditorRequired] public string Title { get; set; }

    [Parameter] public EventCallback ModalClosed { get; set; }

    [Parameter] public EventCallback ModalSaved { get; set; }

    [Parameter, EditorRequired] public RenderFragment? ChildContent { get; set; } = null;

    private void CloseModal()
    {
        Visible = false;
        VisibleChanged.InvokeAsync(Visible);
        ModalClosed.InvokeAsync();
    }
}
