@rendermode InteractiveServer

@if(Visible)
{
    <div class="ca-box ca-centered">
        <h2>@Title</h2>
        <hr />
        @ChildContent
        <div class="d-flex flex-row flex-nowrap gap-2">
            @if(ModalSaved.HasDelegate)
            {
                <button class="ca-button ca-primary" @onclick="() => ModalSaved.InvokeAsync()">Save</button>
                <button class="ca-button ca-secondary" @onclick="CloseModal">Close</button>
            }
            else
            {
                <button class="ca-button ca-primary" @onclick="CloseModal">Close</button>
            }
        </div>
    </div>
}

@code {
    [Parameter] public bool Visible { get; set; }

    [Parameter] public EventCallback<bool> VisibleChanged { get; set; }

    [Parameter, EditorRequired] public string Title { get; set; }

    [Parameter] public EventCallback ModalClosed { get; set; }

    [Parameter] public EventCallback ModalSaved { get; set; }

    [Parameter, EditorRequired] public RenderFragment? ChildContent { get; set; } = null;

    private void CloseModal()
    {
        Visible = false;
        VisibleChanged.InvokeAsync(Visible);
        ModalClosed.InvokeAsync();
    }
}
