@page "/articles/edit"
@page "/articles/edit/{ArticleId:int}"
@attribute [Authorize(Roles = "Writer")]

@if(isEdit && Article is not null)
{
    <PageTitle>Edit Article "@Article.Title"</PageTitle>
    <h3>Edit Article</h3>
}
else if(!string.IsNullOrEmpty(errorMessage))
{
    <PageTitle>Error</PageTitle>
    <h3>Error</h3>
}
else
{
    <PageTitle>New Article</PageTitle>
    <h3>New Article</h3>
}

@if(Article is not null)
{
    <EditForm Model="Article" OnSubmit="HandleSubmit" FormName="ArticleEditForm" class="mb-5 ca-box">
        <div class="ca-form-group">
            <label for="title" class="ca-form-label">Title</label>
            <InputText id="title" class="ca-form-control" @bind-Value="Article.Title" />
        </div>
        <div class="ca-form-group">
            <label for="content">Content</label>
            <InputTextArea id="content" class="ca-form-control" @bind-Value="Article.Content" />
        </div>
        <div class="ca-form-group">
            <label for="date-published" class="ca-form-label">Date</label>
            <InputDate Type="InputDateType.DateTimeLocal" id="date-published" class="ca-form-control" @bind-Value="Article.DatePublished" />
        </div>
        <div class="ca-form-group d-flex flex-row align-items-center">
            <div class="d-flex flex-row gap-1">
                <InputCheckbox class="ca-form-checkbox" @bind-Value="Article.IsPublished" />
                <label class="ca-form-label">Is Published</label>
            </div>
            <button type="submit" class="ca-button ca-primary" style="margin-left: auto;">Submit</button>
        </div>
    </EditForm>

    <h3>State Management</h3>
    <form @formname="ArticleDeleteForm" @onsubmit="DeleteArticle" method="post">
        <button class="ca-button ca-danger">Delete Article</button>
        <AntiforgeryToken />
    </form>
}

<span class="text-danger">@errorMessage</span>

@code {
    private bool isEdit => ArticleId is not null;
    private string errorMessage = string.Empty;

    [Parameter]
    public int? ArticleId { get; set; }

    [SupplyParameterFromForm]
    private ArticleModel? Article { get; set; }

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = null;

    protected override async Task OnParametersSetAsync()
    {
        if (ArticleId is not null)
        {
            var result = await Sender.Send(new GetArticleByIdForEditingQuery((int)ArticleId));
            if (result.Success)
            {
                Article ??= result.Value!.Adapt<ArticleModel>();
                Article.Id = (int)ArticleId;
            }
            else UpdateErrorMessage(result.Message);
        }
        else Article ??= new();
    }

    private void UpdateErrorMessage(ErrorMessage? message)
        => errorMessage = message is not null ? $"Got error code {message.Code}: `{message.Body}`" : string.Empty;

    private async Task HandleSubmit()
    {
        if(isEdit)
        {
            var command = Article.Adapt<UpdateArticleCommand>();
            var result = await Sender.Send(command);
            if (result.Success)
                Article = result.Value.Adapt<ArticleModel>();
            else UpdateErrorMessage(result.Message);
        }
        else
        {
            var command = Article.Adapt<CreateArticleCommand>();
            var result = await Sender.Send(command);
            if (result.Success)
                NavigationManager.NavigateTo($"/articles/edit/{result.Value.Id}");
            else UpdateErrorMessage(result.Message);
        }
    }

    private async Task DeleteArticle()
    {
        if (ArticleId is null)
            return;

        var command = new DeleteArticleByIdCommand((int)ArticleId);
        var result = await Sender.Send(command);

        if (result.Success)
            NavigationManager.NavigateTo("/articles");
        else UpdateErrorMessage(result.Message);
    }
}
