@page "/articles"
@attribute [StreamRendering]

<PageTitle>Articles</PageTitle>
<h3>Articles</h3>

<AuthorizeView>
    <Authorized>
        <a href="/articles/edit" class="btn btn-primary">Create new article</a>
    </Authorized>
    <NotAuthorized>
        <span class="text-sm">Log in to create a new article.</span>
    </NotAuthorized>
</AuthorizeView>

@if (articles is null)
{
    <p><em>Loading...</em></p>
}
else if(articles.Count <= 0)
{
    <p><em>No articles were found.</em></p>
}
else
{
    @foreach(var article in articles)
    {
        <div style="padding: 1rem; margin-block: 1rem; border: 1px solid black">
            <h4>@article.Title</h4>
            <p>@article.Content</p>
            <small>@article.DatePublished by @article.UserName</small>
            <br />
            <AuthorizeView>
                <a href="/articles/edit/@article.Id" class="btn btn-primary">Edit</a>
            </AuthorizeView>
        </div>
    }
}

@code {
    private List<ArticleResponse>? articles;

    protected override async Task OnInitializedAsync()
    {
        var result = await Sender.Send(new GetArticlesQuery());
        articles = result.Success ? result.Value : [];
    }
}
