@page "/articles/edit"
@page "/articles/edit/{ArticleId:int}"
@attribute [Authorize(Roles = "Writer")]

@if(isEdit && Article is not null)
{
    <PageTitle>Edit Article "@Article.Title"</PageTitle>
    <h3>Edit Article</h3>
}
else
{
    <PageTitle>New Article</PageTitle>
    <h3>New Article</h3>
}

@if(Article is not null)
{
    <EditForm Model="Article" OnSubmit="HandleSubmit" FormName="ArticleEditForm">
        <div class="mb-2">
            <label for="title">Title</label>
            <InputText id="title" class="form-control" @bind-Value="Article.Title" />
        </div>
        <div class="mb-2">
            <label for="content">Content</label>
            <InputTextArea id="content" class="form-control" @bind-Value="Article.Content" />
        </div>
        <div class="mb-2">
            <label for="date-published">Date</label>
            <InputDate Type="InputDateType.DateTimeLocal" id="date-published" class="form-control" @bind-Value="Article.DatePublished" />
        </div>
        <div class="form-check mb-2">
            <InputCheckbox class="form-check-input" @bind-Value="Article.IsPublished" />
            <label class="form-check-label">Is Published</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </EditForm>

    <form @formname="ArticleDeleteForm" @onsubmit="DeleteArticle" method="post">
        <button class="btn btn-danger">Delete Article</button>
        <AntiforgeryToken />
    </form>
}

<span class="text-danger">@errorMessage</span>

@code {
    private bool isEdit => ArticleId is not null;
    private string errorMessage = string.Empty;

    [Parameter]
    public int? ArticleId { get; set; }

    [SupplyParameterFromForm]
    private ArticleModel? Article { get; set; }

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = null;

    protected override async Task OnParametersSetAsync()
    {
        if (ArticleId is not null)
        {
            var result = await Sender.Send(new GetArticleByIdQuery((int)ArticleId));
            if (result.Success)
            {
                Article ??= result.Value!.Adapt<ArticleModel>();
                Article.Id = (int)ArticleId;
            }
            else UpdateErrorMessage(result.Message);
        }
        else Article ??= new();
    }

    private void UpdateErrorMessage(ErrorMessage? message)
        => errorMessage = message is not null ? $"Got error code {message.Code}: `{message.Body}`" : string.Empty;

    private async Task HandleSubmit()
    {
        if(isEdit)
        {
            var command = Article.Adapt<UpdateArticleCommand>();
            var result = await Sender.Send(command);
            if (result.Success)
                Article = result.Value.Adapt<ArticleModel>();
            else UpdateErrorMessage(result.Message);
        }
        else
        {
            var command = Article.Adapt<CreateArticleCommand>();
            command.UserId = UserManager.GetUserId(HttpContext.User);
            var result = await Sender.Send(command);
            if (result.Success)
                NavigationManager.NavigateTo($"/articles/edit/{result.Value.Id}");
            else UpdateErrorMessage(result.Message);
        }
    }

    private async Task DeleteArticle()
    {
        if (ArticleId is null)
            return;

        var command = new DeleteArticleByIdCommand((int)ArticleId);
        var deleteAttempt = await Sender.Send(command);

        if (deleteAttempt.Success)
            NavigationManager.NavigateTo("/articles");
    }
}
