@page "/articles"
@attribute [StreamRendering]

<PageTitle>Articles</PageTitle>
<h3>Articles</h3>

<a href="/articles/edit" class="btn btn-primary">Create new article</a>

@if (articles is null)
{
    <p><em>Loading...</em></p>
}
else if(articles.Count <= 0)
{
    <p><em>No articles were found.</em></p>
}
else
{
    @foreach(var article in articles)
    {
        <h4>@article.Title</h4>
        <p>@article.Content</p>
        <small>@article.DatePublished</small>
        <a href="/articles/edit/@article.Id">Edit</a>
    }
}

@code {
    private List<ArticleResponse>? articles;

    protected override async Task OnInitializedAsync()
    {
        var result = await Sender.Send(new GetArticlesQuery());
        articles = result.Success ? result.Value : [];
    }
}
