@page "/register"
@using CleanArchitecture.Application.Users.RegisterUser

<PageTitle>Register</PageTitle>
<h3>Create new user</h3>

<div class="ca-box ca-form">
    <EditForm Model="UserModel" OnValidSubmit="HandleSubmit" FormName="RegisterUserForm">
        <DataAnnotationsValidator />
        <div class="ca-form-group">
          <label class="ca-form-label" for="name">Username</label>
          <InputText class="ca-form-control" @bind-Value="UserModel.UserName" id="name" />
          <ValidationMessage For="() => UserModel.UserName" />
        </div>
        <div class="ca-form-group">
          <label class="ca-form-label" for="email">Email</label>
          <InputText class="ca-form-control" @bind-Value="UserModel.Email" id="email" />
          <ValidationMessage For="() => UserModel.Email" />
        </div>
        <div class="ca-form-group">
          <label class="ca-form-label" for="password">Password</label>
          <InputText class="ca-form-control" @bind-Value="UserModel.Password" id="password" type="password" />
          <ValidationMessage For="() => UserModel.Password" />
        </div>
        <div class="ca-form-group">
          <label class="ca-form-label" for="confirmPassword">Confirm Password</label>
          <InputText class="ca-form-control" @bind-Value="UserModel.ConfirmPassword" id="confirmPassword" type="password" />
          <ValidationMessage For="() => UserModel.ConfirmPassword" />
        </div>
        <button type="submit" class="ca-button ca-primary">Submit</button>
    </EditForm>
</div>

<span class="text-danger">@errors</span>

@code {
    [SupplyParameterFromForm]
    private RegisterUserModel UserModel { get; set; } = new();
    private string errors = string.Empty;

    async Task HandleSubmit()
    {
        if(UserModel.Password != UserModel.ConfirmPassword)
        {
            errors = "Passwords do not match";
            return;
        }

        var command = new RegisterUserCommand(UserModel.UserName, UserModel.Email, UserModel.Password);
        var result = await Sender.Send(command);

        if(result.Success)
        {
            NavigationManager.NavigateTo("/login");
        }
        else
        {
            errors = result.Message?.Body ?? "Registration failed";
        }
    }
}
